<!DOCTYPE html>
<html ng-app="ProteinCalculatorApp" ng-cloak>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <title>Protein Calculator</title>
</head>
<body>
    <div ui-view name="nav"></div>
    <div ui-view name="content"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    @Scripts.Render("~/bundles/ProteinCalculatorApp")
</body>
</html>